<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <!-- Bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<!----------Jumbotron and Scraping Button-------->
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
  </div>

 <!-----------Mars News--------->
<div class="container-fluid"> 
  <div class="row">
    <div class="col-md-12">
      <h2><b>Latest Mars News</b></h2>
      <br>
      <h3>{{ mars.news_title }}</h3>
      <p>{{ mars.news_p }}</p>
    </div>
  </div>
</div>
 <!-----------Feature Image & Facts Table--------->
 <div class="container-fluid"> 
  <div class="row">
    <div class="col-md-6" style="margin:auto;">
      <div class="table">
      <br>
      <h2><b>Featured Image</b></h2>
      <img src="{{ mars.featured_image_url }}" class="img-fluid" style="width: 100%; height: 400px;">
    </div>
  </div>
    <div class="col-md-6" style="margin:auto;">
      <h2><b>Mars Facts</b></h2>
      <p>{{ mars.mars_table|safe }}</p>
  </div>

 <!-----------Image Grid for Mars Hemispheres--------->
 <div class="container-fluid">
   <br>
   <br>
   <center><h2><b>Mars Hemispheres</b></h2></center>
   <br>
</div>

<div class="container-fluid">
 <div class="row">
   {% for image in mars.hemisphere_image_urls %}
   <div class="col-md-6">
     <center><img src="{{ image.image_url }}" style="height:500px;"></center>
     <center><h3>{{ image.hemisphere_names }}</h></center>
   
 </div>
{% endfor %}

<!------------------------JS--------------------------->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>

</html>